.App {
  height: 100vh;
  padding: 0px,100px;
  display: flex;
  text-align: center;
  justify-content:space-evenly;
  
}

.homepage-button{
  background-color: rgb(239,204,06);
  border-radius: 50px;
  border : none;
  padding: 2vh 3vh;
  font-weight: bold;
  font-size: x-large;
  position: relative;
  

  
}
.title{
text-align: center;
color: white;
text-shadow: 1px 1px black;
margin-bottom: 10vh;
}
.dept{
  font-size: larger;
  margin-left: 20%;
  margin-top: 10px;
}
.student{
position: absolute;
 margin-top: 10px;
 margin-left: 40%;
}

body{
  background-image: url("../images/lehman_college_campus.jpeg") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: aquamarine;

}


.warning{
  display: flex;
  background-color:gray;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 10px;
  



}

.table-data{
  color: white;
  font-size: x-large;
}

.div2{
  display: flex;
  align-items: center;
}
.label{
  font-weight: bold;
  text-shadow: 60px,7px black;
  color:yellow
  
}

