
/* p{
    color: white;
    font-weight: bold;
    text-align: center;
} */
#warning{
    display: flex;
    background-color:gray;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
    


 
}

/* .title{
    margin-bottom: 100px;
} */
/* .dept{
    position: absolute;
    top: 20%;
    left: 28%
}
.instructor{
    position: absolute;
    top : 20%;
    left: 22%
    
}
.student{
    position:absolute;
    top : 20%;
    right : 22%;
} */
/* .incident{
    position: absolute;
    top: 40%;
    left: 45%;
 
}
.return{
    position: absolute;
    top: 47%;
    left: 46.4%;
} */

